@import "./abstarcts/mixins";
@import './abstarcts/variables';
@import "./base/animations";
@import "./base/reset";
@import "./base/typography";
@import "./base/utilities";
@import "./pages/landing";
@import "./pages/home";
@import "./pages/genre_overview";
@import "./pages/podcasts";
@import "./pages/playlist";
@import "./pages/podcast";
@import "./pages/album";
@import "./pages/artistpage";
@import "./layout/footer";
@import "./layout/header";
@import "./layout/grid";
@import "./components/button";
@import "./components/card";
@import "./components/player";
@import "./components/search";