.footer{
    width: 100%;
    padding: 4rem 10rem;
    background-color: #111313;
    color: #fff;
    .top--footer{
        width: 100%;
        display: flex;
        gap: 1rem;
        justify-content: center;
        flex-wrap: wrap;
        >div:not(:last-child){
            margin-right: 10rem;
        }
        
    }
    .bottom--footer{
        display: flex;
        gap: 1rem;
        text-transform: capitalize;
        padding: 2rem 0;
        color: #848484;
        font-size: 2rem;
        text-align: left;
    }
    &--col{
        font-weight: 100;
        font-size: 1.6rem;
        display: flex;
        gap: 2rem;
        flex-direction: column;
    }
    &--block-name{
        font-weight: 500;
        color: #848484;
    }
    &--col-3{
        min-width: 15rem;
    }
    &--col-4{
        display: flex;
        flex-direction: row;
        >div{
            margin: 0;
            gap: 0;
            font-size: 2rem;
            width: 2em;
            height: 2em;
            border-radius: 50%;
            background-color: $color-6;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    

}