.grid-structure {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}
.grid-feature-structure {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .grid-feature-block {
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        &--img {
            object-fit: cover;
            img {
                width: 100%;
                object-fit: cover;
                object-position: center;
                max-width: calc((38.8 / 2 - 1.5 + 0.1) * 1rem);
                height: "";
            }
        }
        &--about {
            padding: 2rem;
        }
    }
}
.grid-form-structure {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 4fr;
    column-gap: 1.7rem;
    label {
        display: block;
    }
    input,
    select {
        background-color: $color-4;
        &::placeholder {
            background-color: $color-4;
            color: $color-10 !important;
        }
        letter-spacing: 1px;
        padding-bottom: 1rem;
        width: 100%;
        color: $color-10 !important;
        border: none;
        font-size: 1.5rem;
        outline: none;
        margin-bottom: 0 !important;
    }
    & > div{
        border-bottom: 2px solid #707070;
        margin-bottom: 1rem;
    }
    .name {
        grid-row: 1/2;
        grid-column: 1/4;
    }
    .last__name {
        grid-row: 1/2;
        grid-column: 4/7;
    }
    .email {
        grid-row: 2/3;
        grid-column: 1/7;
    }
    .gender {
        grid-row: 3/4;
        grid-column: 1/4;
    }
    .country {
        grid-row: 3/4;
        grid-column: 4/7;
    }
    .day .month .year {
        grid-row: 4/5;
    }
    .day {
        grid-column: 1/3;
    }
    .month {
        grid-column: 3/5;
    }
    .year {
        grid-column: 5/7;
    }
}
