.header {
    bottom: 2rem;
    height: 8rem;
    width: 100%;
    z-index: 100;
    &-top {
        position: fixed;
        top: 0;
        z-index: 100;
        width: 100%;
        padding: 2rem 20rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        backdrop-filter: blur(55px);
    }
    &-menus {
        display: flex;
        align-items: center;
        gap: 1.5em;
        a:not(.btn) {
            color: #fff;
            font-size: 1.8rem;
            margin-right: 2rem;
            font-weight: bold;
            letter-spacing: 1px;
            line-height: 32px;
        }
    }
    &-flow{
        width: 100%;
    }
    &.after-sign {
        .header {
            
            &-top {
                padding: 2rem 4rem;
                background-color: $color-4;
            }
            &-logo {
                display: flex;
                gap: 1rem;
            }
            &-menus {
                .search {
                    &--input {
                        padding: 0.6rem 1.5rem;
                        background-color: #707070;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 2rem;
                        max-width: 20rem;
                        input{
                            border: none;
                            outline: none;
                            display: flex;
                            align-items: center;
                            font-size: 1.6rem;
                            background-color: #707070;
                            margin-left: 0.7rem;
                            width: 100%;
                            &::placeholder{
                                background-color: #707070;
                                line-height: 3rem;
                                color: #fff;
                                padding: 0.5rem 0;
                            }
                        }
                        ion-icon{
                            display: flex;
                            align-items: center;
                        }
                    }
                    &-icon{
                        border-radius: 50%;
                    }
                    
                }
                .account{
                    color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 2rem;
                    ion-icon:first-child{
                        font-size: 3rem;
                    }
                }
            }
        }
    }
}
.top-center-btns{
    display: flex;
    gap: 1rem;
}
