.search-episodes{
    .btn.search--input{
        display: inline;
        background-color: transparent;
        input[type="text"], input[type="text"]::placeholder{
            background-color: transparent;
            font-size: 2rem;
            outline: none;
            border: none;
            caret-color: $color-10;
            color: $color-10;
            width: 20rem;

        }
        padding: 0 !important;
        border-bottom: 2px solid #FFFFFD;
        border-radius: 0 !important;
        padding-bottom: 0.5rem !important;
    }
}