body, html{
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    background-color: #161A1A;
}
html{
    font-size: 63.5%;
}
*{
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: inherit;
}


ul, li{
    list-style: none;
}