$color-white: #fff;
$main-color: #363233;

$color-1: #9b2def;
$color-2: #2d9bef;
$color-3: #2dceef;
$color-4: #161a1a;
$color-5: #303033;
$color-6: #3a3a3d;
$color-7: #424346;
$color-8: #99999f;
$color-9: #d5d5d5;
$color-10: #ffffff;
$linear-color-btn: linear-gradient(90deg, #35EDFB -10%, #2D9BEF 30%, #9B2DEF 130%);