.artist--background{
    .podcaster__image{
        position: relative;
    }
    .check-chevron{
        position: absolute;
        top: 10%;
        left: 80%;
        padding: 0;
        margin: 0;
        border-radius: 50%;
        background: $color-10;
        ion-icon{
            font-size: 3rem;
            transform: scale(1.7);
        }
    }
}