.main{
    
    img:not(.non-hover):hover {
        z-index: -1;
        transform: scale(1.1) translateY(-1em);
        box-shadow: 0 1rem 15px rgba($color: #707070, $alpha: 0.3);
    }
    .big__img{
        transition: all 0.3s ease;
        // width: 100%;
        // width: 29rem ;
        width: 100%;
    }

    .small__img--1{
        transition: all 0.3s ease;
        width: 100%;
        max-width: calc((38.8 / 2 - 1.5 + 0.1)*1rem);
        max-height: calc((38.8 / 2 - 1.5 + 0.1)*1rem);
        object-fit: cover;
        // height: 100%;
    }
    color: #fff !important;
}
.home-sections{
    margin: 2rem 20rem;
}
.card-sub{
    &-price{
        color: #707070;
        ion-icon{
            vertical-align: middle;
            // transform: scale(1.3);
            margin-right: 0.3rem;
        }
        margin: 1rem 0;
        vertical-align: center;
    }
    &-title{
        color: #fff;
        font-size: 1.6rem;
        margin: 0.6rem 0;

    }
}

.row-title{
    display: flex;
    justify-content: space-between;
    &--left{
        span{
            color: #707070;
            display: block;
            font-size: 1.6rem;
            margin-bottom: 0.4rem !important;
        }
        h3{
            font-size: 2.4rem;
        }
    }
    &--right{
        display: flex;
        align-items: center;
        font-size: 1.6rem;
    }
}
