
.main-text {
    padding: 11rem 0;
    font-size: 4.8rem;
    color: $color-white;
    letter-spacing: -3;
}

.blue-text {
    color: $color-3;
}
.flow {
    padding: 7rem 20rem;
    background-color: $color-4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    align-content: center;
    &-img {
        img {
            width: 60rem;
            height: 60rem;
        }
    }
    &-about {
        padding: 5rem;
        align-self: center;
    }
}
.text-about {
    h1 {
        text-transform: uppercase;
        font-size: 5rem;
        color: $color-10;
        font-weight: 600;
        margin-bottom: 2rem;
    }
    p {
        color: $color-10;
        font-size: 2rem;
        font-weight: 400;
        line-height: 3.5rem;
    }
}
.listen-any-where {
    padding: 20rem 20rem;
    background-image: url(/images/Listenanytimeanywhere.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
    // &-text{
    //     padding-left: 20rem;
    // }
    h1 {
        text-transform: capitalize;
        font-size: 3rem;
    }
}
main{
    background-color: $color-4;
    padding-bottom: 15rem;
}
.find-your-phone {
    padding-left: 20rem;
    padding-right: 10rem;
    background-color: $color-4;
    
    .about {
        padding-top: 10rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        .text-about {
            h1{
                text-transform: none;
            }
        }
    }
    &__phoneImage{
        justify-self: center;
    }
    .premium{
        text-align: center;
        .main-text{
            padding: 0rem;
            padding-bottom: 4rem;
        }
        &--icons{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &-icons-round{
            border-radius: 50%;
            height: 12em;
            width: 12rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $color-5;
            margin: auto;
        }
        &--price-tables{
            margin-top: 10rem;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 3rem;
            
        }

    }
    
    .text-about{
        margin-top: 2rem;
        h1{
            font-size: 2rem;
            margin: 0;
            text-transform: none;
        }
        p{
            font-size: 1.6rem;
            font-weight: 300;
        }
    }
}
.table-content{
    width: 32rem;
    text-align: left;
    padding: 2.5rem;
    background-color: $color-4;
    border-radius: 1rem;
    border: 0.3rem solid #fff;
    h1{
        @include text($color-10, "header", 3rem);
        font-weight: 300;
    }
    .price{
        
        @include text( $color-10 , "header",  3rem)
    }
    margin-bottom: 5rem;
    .little-text{
        font-size: 1rem;
        // line-height: 3rem;
    }
    
    
}
.card__gradient{
    border: none;
    padding: 0.4rem;
    background-image: $linear-color-btn !important;
    &--insert{
        border-radius: 1rem;
        padding: 1.8rem;
        background-color: $color-4;
        width: 100%;
        height: 100%;
    }
}