.account-background{
    transition: all 0.5s ease;
    visibility: hidden;
    opacity: 0;
    height: 100vh;
    width: 100vw;
    background-color: #181212ec;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow: hidden;
}
.sign{
    padding: 5rem 9rem;
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 60rem;
    background-color: $color-10;
    h3{
        font-size: 3rem;
        font-weight: 800;
        letter-spacing: -2px;
        text-align: center;
        padding-bottom: 4rem;
    }
    &-with{
        display: flex;
        justify-content: space-between;
        &-google, &-facebook{
            border-radius: 30px;
            padding: 0.7rem 3rem;
            
            font-size: 2rem;
            display: flex;
            align-items: center;
            gap: 2rem;
        }
        &-facebook{
            color: $color-10;
            background-color: #4267b2;
            ion-icon{
                font-size: 3rem;
            }
        }
        &-google{
            background-color: white;
            color: $color-5;
            border: 1px solid $color-4;
            img{
                width: 2.7rem;
                height: 2.7rem;
            }
        }
    }
    &--email{
       display: flex;
       flex-direction: column;
    }
    &--password{
        display: flex;
        flex-direction: column;
    }
    input[type="email"],
    input[type="password"], select{
        border: 1px solid $color-2;
        padding: 1.2rem 1rem;
        font-size: 2rem;
        outline: none;
        border-radius: 7px;
        color: $color-4;
    }
    .personal{
        select:first-child, select:last-child{
            border: 1px solid $color-4;
            color: $color-4 !important;
            width: 40%;
        }
    }
    .sign-btn{
        text-align: center;
        a{
            display: inline;
            padding: 1rem 6rem;
            background-color: #2d9bef;
            font-weight: 700;
        }
    }
    .x{
        position: absolute;
        right: 7rem;
    }
}